# Environment variables for the API Gateway

# Port on which the API Gateway will run
PORT=5001

# Database connection string for PostgreSQL
DATABASE_URL=

# Secret key for Better Auth (replace with your own secret in production)
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5001